{% extends '::base.html.twig' %}

{% block body -%}
        <div class="centre">
       <center><h1>Ajouter tâche</h1></center>
 <div id="notreformulaire">
      {{ form(form) }}</div>

       <br><br>
   
        <a href="{{ path('tache') }}">
             <img src={{ asset('bundles/main/img/back.png') }}>
     </a>
    
   
        </ul></div>
{% endblock %}
